.social__login
    button.social__login-facebook
        span
        a(href=routes.facebook) 
            i.fab.fa-facebook
            |   Facebook 로그인
    button.social__login-facebook
        span
            i.fab.fa-google
            |   Google 로그인