DOCTYPE 
    html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css", integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
        title 상다미
    body
        a(href=routes.home)
            h1  Hi Sangdami :)
        include ../partials/header
        block content